@-moz-document domain("platform.openai.com") {
    body {
        filter: invert(0.95) hue-rotate(180deg);
        background-color: #1f1f1f;
    }
    
    iframe, 
    img,
    video,
    .icon-item-icon, 
    .code-sample  {
        filter: invert(0.95) hue-rotate(180deg);
    }

    .add-message-section.user-input,
    .app-navigation.fixed.expanded,
    .DocSearch-Modal {
        box-shadow: none;
    }
    .DocSearch-Container {
        background: rgba(255,255,255, 0.85);
    }
}
